*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(49, 47, 46);
  background-image: url(https://img.freepik.com/vector-gratis/marco-bloques-negro-vector-fondo-negro-blanco_53876-67039.jpg?t=st=1723736259~exp=1723739859~hmac=b4598a3f6043de6cdbe8896ef453d309882b393873115641a62dd96c75b5a1b1&w=740);
  background-repeat: no-repeat;
  background-size: cover;
}