*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(49, 47, 46);
  background-image: url(https://img.freepik.com/vector-gratis/marco-bloques-negro-vector-fondo-negro-blanco_53876-66996.jpg?t=st=1718518152~exp=1718521752~hmac=258b4766b46680a0cf69a59a07624f1f8f121dbbb189b8dae9b923cacaaf3c48&w=740);
  background-repeat: no-repeat;
  background-size: cover;
}